@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

:root {
  --block-size: 118px;
  --player-1-color: hsla(0, 100%, 27%, 0.7);
  --player-2-color: hsla(120, 100%, 20%, 0.7);
  --player-3-color: hsla(240, 100%, 27%, 0.7);
  --player-4-color: hsla(43, 89%, 38%, 0.7);
}

html {
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 85%);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
}

h1 {
  text-align: center;
}

.header {
  height: 25vw;
  min-height: 50px;
  max-height: 250px;
  background-image: url("images/banner.jpg");
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.nav {
  margin: 2em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav a {
  font-size: 2em;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  background-color: hsl(120, 25%, 65%);
  margin: 0.4em;
  padding: 0.4em;
  border-radius: 10px;
}

.nav a:hover {
  color: hsl(240, 100%, 50%);
  background-color: hsl(51, 65%, 75%);
}

/* Create Game page ************************************************************* */

.user-entry {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.user-entry input {
  height: 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.25em 0.5em;
}

.user-entry input[type="radio"] {
  position: fixed;
  opacity: 0;
}

.user-entry input[type="radio"]:checked + label {
  background-color: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 0%);
}

.user-entry label {
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 20%);
  font-size: 1.25em;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 5px;
}

.user-entry label:hover {
  background-color: hsl(0, 0%, 50%);
  cursor: pointer;
  color: hsl(0, 0%, 0%);
}

.new-game-label {
  margin: 0 1em;
}

.new-player-name {
  padding: 20px;
  margin: 10px 0px 10px 15px;
  border-radius: 5px;
}

.player-1 {
  background-color: var(--player-1-color);
}

.player-2 {
  background-color: var(--player-2-color);
}

.player-3 {
  background-color: var(--player-3-color);
}

.player-4 {
  background-color: var(--player-4-color);
}

/* New styles for Game lobby******************************************************/
.sub-title,
.instructions {
  text-align: center;
}

.instructions {
  padding: 1.5em;
  margin-bottom: 1em;
}

.player-link {
  padding: 20px;
  margin: 10px 0px 10px 15px;
  border-radius: 5px;
  width: max-content;
}

.player-link a {
  font-size: 1.5em;
  text-decoration: none;
  color: inherit;
  margin: 1em;
}

.player-link a:hover {
  text-decoration: underline;
}

.copy-button {
  font-size: 1.1em;
  padding: 5px;
  border-radius: 5px;
  margin-right: 1em;
  background-color: hsl(200, 70%, 70%);
  color: black;
}

.copy-button:hover {
  cursor: pointer;
  background-color: hsl(200, 30%, 30%);
  color: inherit;
}

/* New styles for Saved Games******************************************************/
.nav-small {
  margin: 0px;
}

.nav-small a {
  font-size: 1.2em;
}

.games-list {
  margin: 1.5em;
  font-size: 1.2em;
}

.saved-game {
  margin: 0.6em;
  background-color: hsl(145, 10%, 32%);
  padding: 0.5em;
  border-radius: 5px;
  letter-spacing: 0.05rem;
}

.saved-game a {
  text-decoration: none;
  color: inherit;
}

.saved-game-player {
  padding: 4px;
  border-radius: 5px;
  margin-left: 0.4em;
}

.saved-game a:hover {
  text-decoration: underline;
}

.date-created {
  margin-left: 20px;
}

/* New styles for main game******************************************************/
/*  All calcs are done with the following dimensions in mind (raw img dimensions) 
    nobles=453 x 453, cards=498 x 693, gems=339 x 339  */

.game-table {
  display: flex;
  flex-wrap: wrap;
}

#game-board {
  display: flex;
  font-size: calc(var(--block-size) / 5);
  border: solid hsla(0, 0%, 0%, 0.4);
  border-radius: calc(var(--block-size) / 5);
  padding: 5px;
  margin: 10px;
  max-width: 100vw;
  max-height: 100vh;
  height: min-content;
}

.game-board-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game-board-rows img {
  border-radius: calc(var(--block-size) / 20);
  border: solid 1px hsl(0, 0%, 85%);
  width: var(--block-size);
}

.nobles-row {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  align-items: center;
  width: 100%;
}

.card-row {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  align-items: center;
}

.card-container,
.card-deck-container {
  margin: 0 6px;
}

.card-deck-container {
  position: relative;
}

.deck-counter {
  font-weight: bold;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-shadow: 2px 0 0 hsl(0, 0%, 20%), 0 2px 0 hsl(0, 0%, 20%), -2px 0 0 hsl(0, 0%, 20%), 0 -2px 0 hsl(0, 0%, 20%);
}

.gems-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
}

.gem-container {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.gem-img {
  width: calc(var(--block-size) * 3.4 / 4.2);
  border-radius: calc(var(--block-size) * 3.4 / 8.4);
  /* border: solid 1px hsl(0, 0%, 85%); */
}

.board-gem-count {
  margin-left: 10px;
}

#players-container {
  text-align: center;
  font-size: calc(var(--block-size) / 5);
  margin-left: 10px;
  margin-top: 10px;
  width: min-content;
}

#player-header {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: 1fr auto;
}

#round-counter {
  justify-content: flex-end;
}

.main-player-container,
.player-container {
  border-radius: calc(var(--block-size) / 10);
  padding: 10px;
  margin-top: 5px;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.action-buttons > span {
  color: black;
  font-size: calc(var(--block-size) / 6);
  background-color: hsl(0, 0%, 80%);
  padding: 5px;
  border-radius: calc(var(--block-size) / 20);
}

.action-buttons > span:hover {
  background-color: hsl(0, 0%, 40%);
  cursor: pointer;
}

.main-player-title,
.player-title {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: 1fr auto auto 1fr;
  margin: 7px 0;
}
.player-noble {
  justify-self: flex-start;
}

.player-score,
.player-gold-gem {
  justify-self: flex-end;
}

.player-gold-gem {
  margin-right: calc(var(--block-size) / 8);
}

.player-noble img {
  width: calc(var(--block-size) * 3.4 / 12);
  border-radius: calc(var(--block-size) * 3.4 / 240);
  margin-right: 7px;
}

.player-gold-gem img {
  width: calc(var(--block-size) * 3.4 / 12);
  border-radius: calc(var(--block-size) * 3.4 / 24);
  margin-left: 7px;
}

.main-player-gem-row {
  display: flex;
  text-align: center;
  font-size: calc(var(--block-size) / 6);
  padding: 5px;
  border-radius: calc(var(--block-size) / 15);
}

.player-gem-container {
  padding: 0 5px;
  border-radius: 10px;
  /* margin: 0 5px; */
}

.player-counter-labels {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.player-drop-down {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.player-details {
  font-size: calc(var(--block-size) / 7);
  text-justify: left;
  margin-top: 7px;
}

.reserved-card-container,
.purchased-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.player-details summary:hover {
  cursor: pointer;
}

.player-details img {
  width: calc(var(--block-size) / 2);
  border-radius: calc(var(--block-size) / 40);
  border: solid 1px hsl(0, 0%, 85%);
  margin-left: 5px;
  margin-top: 7px;
}

.player-details img:hover,
.player-noble img:hover {
  width: calc(var(--block-size) * 1);
  border-radius: calc(var(--block-size) / 20);
}

.player-gem-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7px;
}

.player-gem-row img {
  width: calc(var(--block-size) / 2);
  border-radius: calc(var(--block-size) / 2);
}

.player-gem-row > div {
  display: flex;
  font-size: calc(var(--block-size) / 6);
}

/* Game play visualizations ******************************************** */
#in-turn-player {
  border: solid 5px hsl(0, 0%, 85%);
}

.over-ten {
  color: hsl(0, 100%, 50%);
  background-color: hsl(0, 0%, 0%);
}

#player-notice {
  width: max-content;
  color: black;
  font-size: calc(var(--block-size) / 4);
  background-color: hsl(0, 0%, 80%);
  text-align: center;
  padding: 0 calc(var(--block-size) / 5);
  border-radius: calc(var(--block-size) / 15);
}

.ignore-me {
  opacity: 0.4;
}

.invisible {
  opacity: 0;
}

.action-card img:hover {
  border: solid 1px black;
}

.acted-on {
  background-color: hsl(0, 0%, 20%);
}

.negative-gem {
  background-color: hsl(305, 40%, 35%);
}

.action-gem:hover {
  background-color: hsl(0, 0%, 15%);
}

.embiggen img {
  width: calc(var(--block-size) * 1.1);
}

.embiggen img:hover {
  width: calc(var(--block-size) * 1.1 - 4px);
  border: solid 3px yellow;
}

.emphasize img:hover {
  width: calc(var(--block-size) - 2px);
  border: solid 2px yellow;
}

/* Anything that will override game play visualizations *********************/
